body {
    margin: 0;
    padding: 0;
}

#root {
    margin: 5px 10px;
    padding: 2px;
}

.forms {
    margin-top: 10px;
}

.box {
    padding: 6px 3px;
    border-radius: 5px;
}

.btn {
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;
    padding: 6px 6px;
    margin-left: 5px;
    margin-top: 2px;
}

.btn:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
}

#screen {
    width: 300px;
    height: 200px;
    text-align: center;
    user-select: none;
}

#screen.waiting {
    background-color: brown;
}

#screen.ready {
    background-color: burlywood;
    color: white;
}

#screen.now {
    background-color: teal;
}

#computer {
    width: 142px;
    height: 200px;
    background-position: 0 0;
}

.ball {
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
}