body {
	width: 480px;
	margin: 0 auto;
	padding: 0;
	background-color: #006cab;
}

#dropzone {
	background-color: #b5d9ff;
	margin: 0.5em;
	padding: 0.4em;
	min-height: 100vh;
	font-size: 1em;
	width: 500px;
}

.node {
	background-color: cornsilk;
	margin: 0.5em;
	padding: 0.4em;
	border: 0.5px solid grey;
}

.node:hover {
	cursor: pointer;
}